name: Pylint

on:
  workflow_dispatch:
  push:
    paths:
      - "src/**.py"
  pull_request:
    paths:
      - "src/**.py"

jobs:
  pylint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r src/requirements.txt
          pip install pylint

      - name: Pylint
        run: pylint $(git ls-files '*.py')
